marko==1.0.2
Pygments==2.9.0
python-frontmatter==1.0.0
PyYAML==5.4.1
astroid==2.6.2
attrs==21.2.0
iniconfig==1.1.1
isort==5.9.1
lazy-object-proxy==1.6.0
marko==1.0.2
mccabe==0.6.1
packaging==21.0
pluggy==0.13.1
py==1.10.0
Pygments==2.9.0
pylint==2.9.3
pyparsing==2.4.7
pytest==6.2.4
python-frontmatter==1.0.0
PyYAML==5.4.1
toml==0.10.2
wrapt==1.12.1
